{% extends 'dashboard/base.html' %}
{% load static %}
{% block index %}
<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
<!-- header-slider-area start -->
<section class="header-slider-area">
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="single-slide-item slide-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="single-slide-item-content">
									<h2>Welcome <br> To my website resume</h2>
									<p>
										Here you can find all informations about my education, profil, prjects and
										motivation .
									</p>
								</div><!-- /.single-slide-item-content-->
							</div><!-- /.col-->
						</div><!-- /.row-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->
			</div><!-- /.item .active-->
			<div class="item">
				<div class="single-slide-item slide-2">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="single-slide-item-content">
									<h2>
										<br>Welcome <br> To my website resume
									</h2>
									<p>
										Here you can find all informations about my education, profil, prjects and
										motivation.
									</p>
								</div><!-- /.single-slide-item-content-->

							</div><!-- /.col-->
						</div><!-- /.row-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->
			</div><!-- /.item .active-->
		</div><!-- /.carousel-inner-->

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="lnr lnr-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="lnr lnr-chevron-right"></span>
		</a>
	</div><!-- /.carousel-->

</section><!-- /.header-slider-area-->
<!-- header-slider-area end -->

<!--we-do start -->
<section class="we-do">
	<div class="container">
		<div class="we-do-details">
			<div class="section-header text-center">
				<h2>Education</h2>
				<p>
				</p>
			</div>
			<!--/.section-header-->
			<div class="we-do-carousel">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="single-we-do-box text-center">
							<div class="we-do-description">
								<div class="we-do-info">
									<div class="we-do-img">
										<img src="{% static 'dashboard/images/logo/pharmacy.jpeg' %}"
											alt="image of pharmacy logo" />
									</div>
									<!--/.we-do-img-->
									<div class="we-do-topics">
										<h2>
											<a href="#">
												Pharmaceutical studies
											</a>
										</h2>
									</div>
									<!--/.we-do-topics-->
								</div>
								<!--/.we-do-info-->
								<div class="we-do-comment">
									<p>
										5 years pharmaceutical studies at the university of Oran 1, Algeria, after which
										I successfuly graduated as a pharmacist .
									</p>
								</div>
								<!--/.we-do-comment-->
							</div>
							<!--/.we-do-description-->
						</div>
						<!--/.single-we-do-box-->
					</div>
					<!--/.col-->
					<div class="col-sm-6 col-xs-12">
						<div class="single-we-do-box text-center">
							<div class="we-do-description">
								<div class="we-do-info">
									<div class="we-do-img">
										<img src="{% static 'dashboard/images/logo/openclassrooms.png' %}"
											alt="image of Openclassrooms" />
									</div>
									<!--/.we-do-img-->
									<div class="we-do-topics">
										<h2>
											<a href="#">
												Web application developer training.
											</a>
										</h2>
									</div>
									<!--/.we-do-topics-->
								</div>
								<!--/.we-do-info-->
								<div class="we-do-comment">
									<p>
										One year training at the french school "Openclassrooms" where I could create a
										website from scratch,
										starting with database design and creation with UML AND SQl, website conception
										with UML, development using Python, Django, Javascript,
										Html, Css to deployment and CI/CD.
									</p>
								</div>
								<!--/.we-do-comment-->
							</div>
							<!--/.we-do-description-->
						</div>
						<!--/.single-we-do-box-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.we-do-carousel-->
		</div>
		<!--/.we-do-details-->
	</div>
	<!--/.container-->

</section>
<!--/.we-do-->
<!--we-do end-->

<!--about-us start -->
<section class="about-us" id="profil">
	<div class="container">
		<div class="about-us-content">
			<div class="row">
				<div class="col-sm-6">
					<div class="single-about-us">
						<div class="about-us-txt">
							<h2>Profil</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate velit esse.
							</p>
						</div>
						<!--/.about-us-txt-->
					</div>
					<!--/.single-about-us-->
				</div>
				<!--/.col-->
				<div class="col-sm-6">
					<div class="single-about-us">
						<div class="about-us-img">
							<img src="{% static 'dashboard/images/about/about-part.jpg' %}" alt="about images">
						</div>
						<!--/.about-us-img-->
					</div>
					<!--/.single-about-us-->
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
		<!--/.about-us-content-->
	</div>
	<!--/.container-->

</section>
<!--/.about-us-->
<!--about-us end -->

<!--service start-->
<section class="service" id="skills">
	<div class="container">
		<div class="service-details">
			<div class="section-header text-center">
				<h2>Skills</h2>
				<p>
				</p>
			</div>
			<!--/.section-header-->
			<div class="service-content-one">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="{% static 'dashboard/images/logo/python.jpeg' %}" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a href="#">Python</a>
								</h2>
								<p>
									Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat
									cupidatat
								</p>
								<a href="#" class="service-btn">
									learn more
								</a>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-6 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="{% static 'dashboard/images/logo/django.png' %}" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a href="#">Django</a>
								</h2>
								<p>
									Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat
									cupidatat
								</p>
								<a href="#" class="service-btn">
									learn more
								</a>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.service-content-one-->
			<div class="service-content-two">
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="{% static 'dashboard/images/logo/javascript.png' %}" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a href="#">Javascript</a>
								</h2>
								<p>
									Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat
									cupidatat
								</p>
								<a href="#" class="service-btn">
									learn more
								</a>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="{% static 'dashboard/images/logo/flask.png' %}" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a href="#">Flask</a>
								</h2>
								<p>
									Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat
									cupidatat
								</p>
								<a href="#" class="service-btn">
									learn more
								</a>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="{% static 'dashboard/images/logo/sql.jpeg' %}" alt="image of service" />
							</div>
							<!--/.service-img-->
							<div class="service-txt">
								<h2>
									<a href="#">SQL</a>
								</h2>
								<p>
									Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat
									cupidatat
								</p>
								<a href="#" class="service-btn">
									learn more
								</a>
							</div>
							<!--/.service-txt-->
						</div>
						<!--/.service-single-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.service-content-two-->
		</div>
		<!--/.service-details-->
	</div>
	<!--/.container-->

</section>
<!--/.service-->
<!--service end-->
<!--project start-->
<section id="projects" class="project">
	<div class="container">
		<div class="project-details">
			<div class="project-header text-left">
				<h2> Projects</h2>
				<p>
				</p>
			</div>
			<!--/.project-header-->
			<div class="project-content">
				<div class="gallery-content">
					<div class="isotope">
						<div class="row">
							<div class=" col-md-4 col-sm-12">
								<div class="item big-height">
									<img src="assets/images/project/project1.jpg" alt="portfolio image" />
									<div class="isotope-overlay">
										<a href="project.html">
											<span class="lnr lnr-link"></span>

										</a>
										<h3>
											<a href="project.html">
												aquisition plan
											</a>
										</h3>
										<p>busisness planning</p>
									</div><!-- /.isotope-overlay -->
								</div><!-- /.item -->
							</div><!-- /.col -->
							<div class="col-md-8 col-sm-12">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="assets/images/project/project2.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="assets/images/project/project3.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="assets/images/project/project4.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning
												</p>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
									</div><!-- /.col -->
									<div class="col-sm-6 col-xs-12">
										<div class="item">
											<img src="assets/images/project/project5.jpg" alt="portfolio image" />
											<div class="isotope-overlay">
												<a href="project.html">
													<span class="lnr lnr-link"></span>

												</a>
												<h3>
													<a href="project.html">
														aquisition plan
													</a>
												</h3>
												<p>busisness planning
												</p>
											</div><!-- /.isotope-overlay -->
										</div>
										<!--/.item -->
									</div><!-- /.col -->
								</div><!-- /.row-->

							</div><!-- /.col -->
						</div><!-- /.row -->

					</div>
					<!--/.isotope-->
				</div>
				<!--/.gallery-content-->
			</div>
			<!--/.project-content-->
		</div>
		<!--/.project-details-->
	</div>
	<!--/.container-->

</section>
<!--/.project-->
<!--project end-->
<!--contact start-->
{% include 'dashboard/contact.html' %}
<!--/.contact-->
<!--hm-footer start-->
<section class="hm-footer">
	<div class="container">
		<div class="hm-footer-details">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="hm-footer-widget">
						<div class="hm-foot-title ">
							<div class="logo">
								<a href="index.html">
									<img src="assets/images/logo/logo.png" alt="logo" />
								</a>
							</div><!-- /.logo-->
						</div>
						<!--/.hm-foot-title-->
						<div class="hm-foot-para">
							<p>
								Lorem ipsum dolor sit amt conetur adcing elit. Sed do eiusod tempor utslr. Ut laboris
								nisi ut aute irure dolor in rein velit esse.
							</p>
						</div>
						<!--/.hm-foot-para-->
						<div class="hm-foot-icon">
							<ul>
								<li><a href="https://github.com/yasser31"><i class="fa fa-github" aria-hidden="true"></i></a></li>
								<!--/li-->
								<!--/li-->
								<li><a href="https://www.linkedin.com/in/yasser-friha"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<!--/li-->
								<li><a href="https://twitter.com/Yasser_Friha"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<!--/li-->
							</ul>
							<!--/ul-->
						</div>
						<!--/.hm-foot-icon-->
					</div>
					<!--/.hm-footer-widget-->
				</div>
				<!--/.col-->
				<div class=" col-md-2 col-sm-6 col-xs-12">
					<div class="hm-footer-widget">
						<div class="hm-foot-title">
							<h4>Useful Links</h4>
						</div>
						<!--/.hm-foot-title-->
						<div class="footer-menu ">
							<ul class="">
								<li><a href="">Home</a></li>
								<li><a href="#profil">About</a></li>
								<li><a href="#projects">Projects</a></li>
								<li><a href="#contacts">Contact us</a></li>
							</ul>
						</div><!-- /.footer-menu-->
					</div>
					<!--/.hm-footer-widget-->
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
		<!--/.hm-footer-details-->
	</div>
	<!--/.container-->

</section>
<!--/.hm-footer-details-->
<!--hm-footer end-->

<!-- footer-copyright start -->
<footer class="footer-copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="foot-copyright pull-left">
					<p>
						&copy; All Rights Reserved.
					</p>
				</div>
				<!--/.foot-copyright-->
			</div>
			<!--/.col-->
			<div class="col-sm-5">
				<div class="foot-menu pull-right
						">
					<ul>
						<li><a href="#">legal</a></li>
						<li><a href="#">sitemap</a></li>
						<li><a href="#">privacy policy</a></li>
					</ul>
				</div><!-- /.foot-menu-->
			</div>
			<!--/.col-->
		</div>
		<!--/.row-->
		<div id="scroll-Top">
			<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top"
				title="" data-original-title="Back to Top" aria-hidden="true"></i>
		</div>
		<!--/.scroll-Top-->
	</div><!-- /.container-->

</footer><!-- /.footer-copyright-->
<!-- footer-copyright end -->
{% endblock %}